.headerWrp {
  background-color: white;
  padding: 1em 0;
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn,
.menuBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }
}

.status {
  position: relative;
  left: 50px;
  top: -10px;
  width: 100%;
}
